<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <link rel="stylesheet" href="/styles.css" >
    </head>
    <body>
        <h1 class="welcome-message">Welcome to whatever this app is called!</h1>
        
        <div class="homepage-boxes">
            <div class="homepage-box">
                <h2>Sign up here</h2>
                <form method="POST" action="/signup">
                <input type="email" name="email" placeholder="email"><br>
                <input type="password" name="password" placeholder="password"><br>
                <input type="submit">
                <% if flash[:signup_error] %>
                    <div class="alert alert-danger" role="alert">
                        <%= flash[:signup_error] %>  
                    </div>
                <% end %>
                </form>
            </div>

            <div class="homepage-box">
                <h2>Login here</h2>
                <form method="POST" action="/login">
                <input type="email" name="email" placeholder="email"><br>
                <input type="password" name="password" placeholder="password"><br>
                <input type="submit">
                <% if flash[:login_error] %>
                    <div class="alert alert-danger" role="alert">
                        <%= flash[:login_error] %>  
                    </div>
                <% end %>
                </form>
            </div>
        </div>
    </body>
</html>