<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/x-icon" href="favicon.png">
        <title>MakersBnB</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/styles.css" >
    </head>

    <body>
        <nav>
            <div class="nav-left">
                <img id="logo" src="/logo.png" alt="logo">
                <h5 id='logged'>You are logged in as: <%= @current_id %></h5>
            </div>
            <ul class="nav-links">
                <li><form method='POST' action='/logout'>
                    <button type="submit" class="nav_button">Logout</button>
                </form></li>
                <li><a href="/listings/new" >New Listing</a></li>           
                <li><a href="/listings" >All Listings</a></li>           
                <li><a href="/requests" >Requests</a></li>
            </ul>
        </nav>
        <main>
            <%= yield %>
        </main>
    </body>
</html>