<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <link rel="stylesheet" type="text/css" href="/style.css" >
    </head>
    <body>
        <nav>
            <%# <img id="logo" src="logo.png" alt="logo"> %>
            <div class="nav-links">
                <h1><a href="/listings" >All listings</a></h1>            
            </div>
        </nav>

        <%= yield %>
    </body>
</html>