<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <link rel="stylesheet" type="text/css" href="/styles.css" >
    </head>
    <body>
        <nav>
            <img id="logo" src="logo.png" alt="logo">
            <ul class="nav-links">
                <li><a href="/listings" >All Listings</a></li>           
                <li><a href="/" >Bookings</a></li>
            </ul>
        </nav>
        <main>
            <%= yield %>
        </main>
    </body>
</html>