<h1> <%= @listing.name %> </h1>
<form method="POST" action="/listings/<%= @listing.id %>/booking">
    <input type="date" name="date" min="<%= @listing.start_date %>" max="<%= @listing.end_date %>">
    <input type="submit", value="request to book">
</form>