<h1>Add A New Listing</h1>

<% if flash[:error] %>
    <div class="alert alert-danger" role="alert">
        <%= flash[:error] %>  
    </div>
<% end %>  

<% if flash[:date_error] %>
    <div class="alert alert-danger" role="alert">
        <%= flash[:date_error] %>  
    </div>
<% end %>  

<form method="POST" action="/listings/new" class="new-listing">
    <input type="text" cols="50" name="name" placeholder="Name"/>

    <input type="number" name="price" placeholder="Price"/>

    <textarea rows="4" name="description" placeholder="Description"></textarea>

    <label for="start_date">Available From:</label>
    <input type="date" name="start_date" min="<%= Date.today%>"/>

    <label for="end_date">Available To:</label>
    <input type="date" name="end_date" min="<%= Date.today%>" />

    <input type="submit" value="Submit" />

</form>
