<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up Success</title>
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <h1>Success!</h1>
              <%# add link back to listings page %>
    </body>
</html>