<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up fail</title>
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <h1>Sign up fail!</h1>
        <a href="/signup"> back to sign up </a>
    </body>
</html>