* {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 16px;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: whitesmoke
}

/* Nav Bar */
nav {
    background-color: darkred;
    color: whitesmoke;
    height: 70px;
}

.nav-left * {
    float: left;
    margin: auto;
}

nav img {
    height: 60px;
    display: inline;
    padding-left: 5px;
    padding-top: 5px;
}

nav h5 {
    display: inline-block;
    font-size: 20px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-top: 22px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    display: inline;
}

nav li {
    display: inline;
    float: right;
    font-size: 25px;
    padding: 18px;
    color: whitesmoke;
    font-weight: bold;
}

nav a {
    display: block;
    color: whitesmoke;
    text-decoration: none;
}

nav a:hover {
    color: black
}

.nav_button {
    display: inline;
    float: right;
    font-size: 25px;
    padding: 0px;
    color: whitesmoke;
    font-weight: bold;
    background: none;
    border: none;
  }

  .nav_button:hover {
    color: black;
  } 

main {
    padding: 2em;
    background-color: whitesmoke;
}

h1 {
    font-size: 50px;
    margin-bottom: 50px;
}

/* Grid container with all listings */
.listings-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
    text-align: center;
}

.listings-container img {
    width: 100%;
}

/* The box with information about one listing within the grid */
.listings-option {
    border: 5px solid darkred;
    border-radius: 10px;
    padding: 5px 5px 15px;
    background-color: white;
}

/* Sign up and log in page */

.welcome-message {
    text-align: center;
}

.homepage-boxes{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.homepage-box {
    border: 5px solid darkred;
    border-radius: 10px;
    padding: 30px;
    background-color: white;
    text-align: center;

}

.homepage-box input {
    margin: 5px;
}

/* Requests page */

.request li {
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.request {
    margin-bottom: 30px;
    padding: 0;
}

/* New listing page */

.new-listing input {
    display: block;
    margin-bottom: 10px;
}

.new-listing label {
    display: inline;
    margin-bottom: 10px;
}

textarea {
    resize: none;
    display: block;
    margin-bottom: 10px;
}

.content-wrap {
    padding-bottom: 2.5rem;
  }

.page-container {
    position: relative;
    min-height: 100vh;
  }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkred;
    color: white;
    text-align: center;
    height: 70px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
  }

  .footer p{
    line-height: 170%;
  }

  .footer a{
    color: white;
  }

  .footer a:hover{
    color: black;
  }



