body {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

nav {
    background-color: brown;
    color: whitesmoke;
    height: 70px;
}

nav img {
    height: 60px;
    display: inline;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

nav li {
    display: inline;
    float: right;
    font-size: 25px;
    padding: 16px;
    color: whitesmoke;
}

nav a {
    display: block;
    color: whitesmoke;
    text-decoration: none;
}

main {
    margin: 5px;
}