* {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

/* Nav Bar */
nav {
    background-color: brown;
    color: whitesmoke;
    height: 70px;
}

nav img {
    height: 60px;
    display: inline;
    margin-top: 5px;
    margin-left: 5px;
}

nav h5 {
    display: inline-block;
    font-size: 20px;
    padding-bottom: 40px
}

nav ul {
    list-style-type: none;
    margin: 0;
    display: inline;
}

nav li {
    display: inline;
    float: right;
    font-size: 25px;
    padding: 16px;
    color: whitesmoke;
    font-weight: bold;
}

nav a {
    display: block;
    color: whitesmoke;
    text-decoration: none;
}

main {
    padding: 2em;
    background-color: whitesmoke;
}

h1 {
    font-size: 50px;
    margin-bottom: 50px;
}

.listings-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
    text-align: center;
}

.listings-container img {
    width: 100%;
}

.listings-option {
    border: 5px solid brown;
    border-radius: 10px;
    padding: 5px 5px 15px;
    background-color: white;
}